.container-menu{
    width: 1024px;
    margin: 0 auto;
}
.logo{
    width: 10%;
}

nav ul li{
    list-style: none;
    display: inline-block;
    float: right;
    padding-right: 10px;
    margin: 0 auto;
    vertical-align: center;

}

header{
    height: 10%;;
}

