.container-menu{
    width: 1024px;
    margin: 0 auto;
}
/*Corrijo ubicacion de logo y reemplazo la clase x el img para ahorrar clases*/
.container-logo img{
    width: 8%;
    float: left;
}
/*Añado container de tipografía y estilo*/
.container-texto-header{
    padding: 20px 0px 0px 15px;
}
/*Añado container de nav y estilo*/
.container-nav{
    float: right;
}

.container-nav li {
    display: inline-block;
    list-style: none;
    padding-right: 10px;
    margin: 0 auto;
    vertical-align: center;
}

header{
    height: 10%;;
}

