h1 {
    font-size: 2rem;
     font-family: "Lato";
     font-weight: 400;
     font-style: bold;
     margin:0;
     color: white;
    position: relative;
    top: 40%;
    left: 10%;
}
.list{
    font-family: Lato;
    font-weight: normal;
    color: black;
}
h2 {
     font-family: "Lato";
     font-size: 1.125rem;
}
p{
    font-family: Lato;
    font-size: 0.75rem;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}